.clearFix::after 
{
    content: "";
    display: table;
    clear: both;

}

    .name {
    float: left;
    color: white;
    font-family:  "Georgia", Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 28px;
    padding: 26px 30px 30px 30px;
    margin-bottom: -20px;
    text-decoration: none;
    background-color: #4aaaa5;
    }
         

.link
{
float: right;

}

.bar {
    float: right; 

}
.profile
{   
   
  /* display:inline-block; */
   border: 1px solid #cccccc;
   border-radius: 10px;
   /* width: 960px; */
   height: 400px;
   margin-left: 30px;
   margin-right: 50px;
   padding-top: 0px;
   padding-left: 30px;
   padding-right: 10px;
   
   padding-bottom: 30px;
   text-align: left;
   background-color: #4aaaa5;

}

.email
{   
   
  /* display:inline-block; */
 /* border: 1px solid #cccccc; */
   border-radius: 10px;
   /* width: 400px;
   height: 400px; */
   margin-left: 30px;
   margin-right: 50px;
   padding-top: 0px;
   padding-left: 30px;
   padding-right: 30px;
   text-align: left;
   /* background-color: #4aaaa5; */

}
  
  
.nav
{
font-size: unset;

}

.p
{
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
font-size: large;


}

#titlebar
{
width:960px;
height:100px;
align-self: center;
margin: auto;
border-style: solid;
/* border-width: 5px; */
border-color: #4aaaa5;
/* background-color: #aaa; */
background-image: url ("assets/images/funky-lines.png");
}

#h2 {
    font-weight: bold;
    font-size: 30px;
}

#footer
{
    
    padding: 20px;
    clear: both;
    text-align: center;
    height: 37px;
    font-size: 15px;
   




}


.square {
    padding: 0px 25px 0px 25px;


}

.box {
    width: 960px;
    background: #ffffff;
    margin: 0 auto;
    /* background: none; */
    /* display:inline-block; */
   border: 1px solid #cccccc;
   border-radius: 10px;
   /* width: 960px; */
   height: 400px;
   margin-left: 15px;
   margin-right: 50px;
   padding-top: 0px;
   padding-left: 30px;
   padding-right: 10px;
   
   padding-bottom: 30px;
   text-align: left;
   background-color: #4aaaa5;


}

#contactme
{
    float: left;
    width: 620px;
    /* border: 0px solid #dddddd; */
    overflow: hidden;
    margin-bottom: 10px;
    
}

@media screen and (max-width: 960px)
   { 

      .p {font-size: 17px;}
      #profile {max-width: 400px;}
      body {background-color: red}
      #body {width: 835px;}
      #titlebar {width:440px}
      #contactme {width:720px}
      .email{width:720px}
      .box{width:720px}
      img {width:300px}
    }
 
@media screen and (max-width: 768px)
{ 

   .p {font-size: 15px;}
   #profile {max-width: 460px;}
   body {background-color:blue;}
   #body {width: 700px;}
   #titlebar {width:438px}
   #contactme {width:595px}
   .email{ width:595px}
   .box{width:595px}
   img {width:200px}
 }

 @media screen and (max-width: 640px)
 {
 .p{font-size: 10px;}
 #profile {max-width:460px;}
 body {background-color: ghostwhite}
 #body {width:500px;}
 #titlebar {width:340px}
 #contactme {width:400px}
 .email{width:400px}
 .box{Width:400px}
 img {width:150px}

 
 }

